<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace: 对应dao的全限定名(包名+接口名),也就是../*Mapper
-->
<mapper namespace="com.zhang.dao.CommentMapper">

    <resultMap id="comment" type="com.zhang.entity.Comment">
        <result column="ntitle" property="ntitle"/>
        <result column="loginName" property="loginName"/>
    </resultMap>
    <insert id="addComment">
        INSERT INTO `vnews`.`news_comments`(`cnid`, `ccontent`, `cdate`, `cauthorId`)
        VALUES (#{cnid}, #{ccontent}, SYSDATE(), #{cauthorId});
    </insert>
    <insert id="addPicComment">
        INSERT INTO `news_comments`(`cpid`, `ccontent`, `cdate`, `cauthorId`)
        VALUES (#{cpid}, #{ccontent}, SYSDATE(), #{cauthorId});
    </insert>
    <select id="queryPersonalComment" resultMap="comment">
        SELECT n.ntitle ntitle,u.loginName loginName,c.* FROM `news` n,`news_comments` c,`news_user` u
        WHERE n.nid = c.cnid AND u.uid = c.cauthorId AND c.cauthorId = #{cAuthorId}
    </select>
    <select id="queryPageComment" resultMap="comment">
        SELECT n.ntitle ntitle,u.loginName loginName,c.*
        FROM `news` n,`news_comments` c,`news_user` u
        WHERE n.nid = c.cnid AND u.uid = c.cauthorId
        limit #{from},#{pageSize}
    </select>
    <select id="queryTotalCounts" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM `news_comments`
    </select>
    <select id="queryCommentsByCnid" resultType="com.zhang.entity.Comment">
        SELECT * FROM `news_comments` WHERE cnid = #{cnid} ORDER BY cdate DESC
    </select>
    <select id="queryCommentListByCpid" resultType="com.zhang.entity.Comment">
        SELECT * FROM `news_comments` WHERE cpid = #{cpid}
    </select>
</mapper>
