<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace: 对应dao的全限定名(包名+接口名),也就是../*Mapper
-->
<mapper namespace="com.zhang.dao.CommentMapper">

    <resultMap id="comment" type="com.zhang.entity.Comment">
        <result column="ntitle" property="ntitle"/>
        <result column="loginName" property="loginName"/>
    </resultMap>
    <select id="queryPersonalComment" resultMap="comment">
        SELECT n.ntitle ntitle,u.loginName loginName,c.* FROM `news` n,`news_comments` c,`news_user` u
        WHERE n.nid = c.cnid AND u.uid = c.cauthorId AND c.cauthorId = #{cAuthorId}
    </select>
    <select id="queryAllComment" resultMap="comment">
        SELECT n.ntitle ntitle,u.loginName loginName,c.* FROM `news` n,`news_comments` c,`news_user` u
        WHERE n.nid = c.cnid AND u.uid = c.cauthorId
    </select>
</mapper>
