<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace: 对应dao的全限定名(包名+接口名),也就是../*Mapper
-->
<mapper namespace="com.zhang.dao.NewsMapper">

    <select id="getHotNews" resultType="com.zhang.entity.News">
        SELECT * FROM `news` ORDER BY ncreateDate DESC LIMIT 0,10
    </select>

    <select id="getAllNews" resultType="com.zhang.entity.News">
        SELECT * FROM `news` WHERE ntid = #{id}
    </select>
    <select id="queryPageNews" resultType="com.zhang.entity.News">
        SELECT * FROM `news` limit #{from},#{pageSize}
    </select>
    <select id="queryNewsTotal" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM `news`
    </select>
</mapper>
