<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace: 对应dao的全限定名(包名+接口名),也就是../*Mapper
-->
<mapper namespace="com.zhang.dao.NewsMapper">
    <insert id="addNews">
        INSERT INTO `news`(`ntid`, `ntitle`, `ncontent`, `nauthor`, `ncreateDate`)
        VALUES (#{ntid}, #{ntitle}, #{ncontent}, #{nauthor}, SYSDATE());
    </insert>
    <update id="modifyNews">
        UPDATE `news`
        SET `ntitle` = #{ntitle}, `ntid` = #{ntid}, `nauthor` = #{nauthor}, `ncontent` = #{ncontent}, `nmodifyDate` = SYSDATE()
        WHERE `nid` = #{nid}
    </update>
    <delete id="deleteNewsById">
        delete from news where nid = #{id}
    </delete>

    <select id="getHotNews" resultType="com.zhang.entity.News">
        SELECT * FROM `news` ORDER BY ncreateDate DESC LIMIT 0,10
    </select>
    <select id="getAllNews" resultType="com.zhang.entity.News">
        SELECT * FROM `news` WHERE ntid = #{ntid}
    </select>
    <select id="queryPageNews" resultType="com.zhang.entity.News">
        SELECT * FROM `news` limit #{from},#{pageSize}
    </select>
    <select id="queryNewsTotal" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM `news`
    </select>
    <select id="queryNewsByNtid" resultType="com.zhang.entity.News">
        SELECT * FROM `news` WHERE ntid = #{ntid}
    </select>
    <select id="queryNewsByNtitle" resultType="com.zhang.entity.News">
        SELECT * FROM `news` WHERE ntitle LIKE CONCAT('%',#{ntitle},'%')
    </select>
    <select id="queryNewsById" resultType="com.zhang.entity.News">
        SELECT * FROM `news` WHERE nid = #{nid}
    </select>
</mapper>
