#body{
    background: url("../img/login.png") no-repeat center;
    background-size: 100% 431px;
    background-position-y: 65px;
}
#loginNameIcon, #passwordIcon,#phoneIcon,#idCardIcon,#rePasswordIcon{
    position: relative;
    top: 28px;
    left: 10px;
}
#loginName, #password,#phone,#idCard,#rePassword{
    padding-left: 30px;
    height: 40px;
}
#loginButton,#registerButton,#resetButton{
    padding: 8px 20px;
    border-radius: 20px;
}
#tips{
    margin-left: 32%;
    font-size: 13px;
    font-weight: bolder;
}
#toLogin,#toRegister{
    color: #0f0f0f;
}
#toLogin:hover,#toRegister:hover{
    color: #00FFFF;
}
